html {
   height: 100%;
   min-width: 800px;
   min-height: 400px;
}
body {
   height: 100%;
   margin: 0;
   font: 12px/18px Tahoma,Geneva,sans-serif;
   color: #333333;
}
a:focus {
   outline: none;
}
a {
   text-decoration: none;
   outline: none;
   color: #0088CC;
}
a:hover {
   text-decoration: underline;
   color: #0088CC;
}
h3{
   font-size: 18pt;
   line-height: 40px;
   text-rendering: optimizelegibility;
}
.infoPage{
   display: table;
   width: 100%;
   height: 100%;
   min-height: 600px;
   min-width: 800px;
}
.wm-header {
   float: left;
   height: 54px;
   width: 100%;
   margin: 0;
}
.wm-header>span{
   float: right;
   margin-right: 32px;
   text-shadow: 0 0 2px rgba(100, 100, 100, 0.85);
   margin-top: 4px;
}
.wm-header>i{
   font-size: 9pt;
   margin-left: 8px;
   display: block;
   line-height: 10px;
   margin-top: 36px;
   color: #555555;
   text-shadow: 0 0 1px rgba(100, 100, 100, 0.5);
}
.aside-menu {
   float: left;
   margin-bottom: 26px;
   width: 198px;
   display: block;
   padding: 2px;
   border-radius: 8px;
}
.aside-left {
   float: left;
   margin: 5px;
   width: 200px;
   display: block;
   border-radius: 8px;
}
.wm-mainmenu{
   width: auto;
   margin: 2px 1px;
}
.wm-mainmenu .menuitem{
   display: block;
   padding: 3px 6px;
   width: auto;
   margin: 1px;
   border-radius: 6px;
}
.wm-mainmenu .menuitem:hover{
   box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.wm-mainmenu .menuitem:active{
   background-color: #EEE;
}
.wm-mainmenu .menuitem.active{
   background-color: #EEE;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
   color: #333;
   text-decoration: none !important;
}
.wm-mainmenu div[level="0"]>a{
   padding-left: 18px;
}
.wm-mainmenu div[level="1"]>a{
   padding-left: 30px;
}
.wm-mainmenu div[level="2"]>a{
   padding-left: 42px;
}
.wm-mainmenu div[level="3"]>a{
   padding-left: 54px;
}
.wm-mainmenu div[level="4"]>a{
   padding-left: 66px;
}
.shadowbox {
   box-shadow: 0 0 3px rgba(0,0,0,0.4);
   background-color: #F8F8F8;
}
.menubutton{
   border-radius: 4px 4px 4px 4px;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
   float: right;
   font-size: 7pt;
   line-height: 14px;
   padding: 0 4px;
   color: #777;
   cursor: pointer;
   background-color: #F8F8F8;
}
.menubutton>div{
   height: 18px;
   margin: 0 -3px;
   position: absolute;
   width: 22px;
   z-index: 1;
}
.menubutton.wm-del>div{
   width: 28px;
}
.menubutton.wm-save>div{
   width: 28px;
}
.menubutton:hover{
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.menubutton:active{
   background-color: #EEE;
}
.menubutton.add{
   margin: 6px;
   left: 175px;
   position: absolute;
   line-height: 18px;
}
.menubutton.edit{
   display: none;
}
.menuitem:hover .menubutton.edit{
   display: block;
}
.menubutton.editPage{
   margin: 4px 5px 8px 0;
   line-height: 18px;
}
.wm-upload{
   float: left;
   margin-bottom: 8px;
   width: 100%;
   display: table;
}
#wm-content{
   border-radius: 6px;
   height: calc(100% - 109px);
   width: calc(100% - 229px);
   float: left;
   margin: 5px 3px 0 0;
   display: table;
   padding: 8px;
   text-align: justify;
}
#wm-content *:last-child {
   margin-bottom: 0px;
}
.wm-footer{
   float: left;
   width: calc(100% - 56px);
   text-align: center;
   margin: 8px 0 8px 28px;
   color: #777;
}
.hide {
   display: none !important;
}
.nodel {
   display: none !important;
}
.wm-blocked{
   bottom: 0;
   left: 0;
   position: fixed;
   right: 0;
   top: 0;
   z-index: 1000000;
   background: rgba(50, 50, 50, 0.5);
   
}
.wm-loading>div{
   text-align: center;
   bottom: 50%;
   position: fixed;
   left: 50%;
   font-size: 20pt;
   color: #444;
   text-shadow: 0 0 3px rgba(5, 5, 5, 0.85);
}
.wm-itemform {
   position: fixed;
   top: 10%;
   left: 10%;
   width: 80%;
   height: 80%;
   border-radius: 8px;
   z-index: 1000001;
   padding: 8px;
   min-height: 300px;
   min-width: 400px;
}
.wm-close{
   line-height: 18px;
   margin: -2px;
   text-align: center;
   width: 11px;
}
.wm-add{
   line-height: 18px;
   margin: -2px 8px;
   text-align: center;
   width: 15px;
}
.wm-save{
   line-height: 18px;
   margin: -2px 8px;
   text-align: center;
   width: 21px;
}
.wm-del{
   line-height: 18px;
   margin: -2px -2px 0 8px;
   text-align: center;
   width: 21px;
}
.wm-art-header{
   font-size: 16pt;
   height: 30px;
}
.wm-itemform input,.wm-itemform select{
   margin: 4px 16px 4px 4px;
}
.wm-itemform .name{
   width: 165px;
}
.wm-itemform .sort{
   width: 16px;
}
.wm-itemform .parent{
   width: 165px;
}
.wm-itemform .tags{
   margin-right: 0;
   width: calc(100% - 597px);
}
.wm-itemform .html{
   resize: none; 
   width: calc(100% - 6px); 
   height: calc(100% - 109px);
   margin-top: -2px;
}
#searchform{
   display: table;
   width: 100%;
}
#searchform .searchbutton{
    background: url("img/find.png") no-repeat 42px 2px transparent;
    float: left;
    height: 19px;
    width: 55px;
    margin: 1px 4px 0;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    padding-left: 5px;
    text-shadow: 0 0 1px rgba(100, 100, 100, 0.85);
    color: #888;
    cursor: pointer;
}
#searchform .searchbutton>div{
   height: 19px;
   position: absolute;
   width: 50px;
}
#searchform .searchbutton:hover{
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
#searchform .searchbutton:active{
   background-color: #EEE;
}
#searchform .search{
   width: calc(100% - 384px);
   float: left;
}
#searchform .radio{
   float: left;
}
#searchform .checkbox{
   float: left;
   margin-right: 8px;
}
#searchform .radio>span,#searchform .checkbox>span{
   display: block;
   float: left;
   margin: 1px 4px 0 0;
}
#searchform .radio>span{
   margin: 1px 2px 0 0;
}
#searchform .checkbox>span{
   margin: 1px 8px 0 0;
}
#searchform .radio>input,#searchform .checkbox>input{
   display: block;
   float: left;
}
#searchresult{
   margin-top: 8px;
   display: table;
   width: 100%;
}
#searchresult .article{
   margin-top: 8px;
   display: table;
   width: 100%;
}
#searchresult .a-header{
   display: table;
}
#searchresult .text{
   display: table;
   width: 100%;
}
#searchresult .tags{
   display: table;
   width: 100%;
   border-bottom: 1px solid #AAAAAA;
   font-size: 9px;
   color: #777;
}
#searchresult .article:last-child .tags{
   border-bottom: none;
}
#searchresult .readmore{
   margin-left: 8px;
}
#searchresult .tags span{
   font-weight: bold;
}
#searchresult span b {
   color: #333;
}
#searchresult a b {
   color: #069;
}
#wm-content .res-images{
   display: table;
   height: 104px;
   width: 254px;
   float: left;
   margin: 4px;
}
#wm-content .res-images .img{
    display: table;
    height: 100px;
    width: 100px;
    text-align: center;
    float: left;
    border: 1px solid #AAA;
    line-height: 100px;
    border-radius: 4px
}
#wm-content .res-images .img img{
   vertical-align: middle;
   max-height: 100px;
   max-width: 100px;
}
#wm-content .res-images .img a{
   display: block;
}
#wm-content .res-images .info {
    display: table;
    float: left;
    margin-left: 8px;
    padding-top: 2px;
}
#wm-content .res-images .info>span{
   display: table;
}
#wm-content .res-images .info>input{
   margin-bottom: 4px;
}
#wm-content .res-images .info>.del{
   background: url("/img/delete.png");
   float: right;
   height: 16px;
   width: 16px;
   cursor: pointer;
   display: none;
   border-radius: 2px;
}
#wm-content .res-images .info>.del:hover{
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
#wm-content .res-images:hover .info>.del{
   display: block;
}
img.wm{
   float: right;
   max-height: 400px;
   max-width: 400px;
   border: 1px solid #AAA;
   margin: 4px 4px 12px 12px;
   border-radius: 4px;
}
#viewfromsearchresult .vf-header{
   display: table;
   width: 100%;
}
#viewfromsearchresult .backtosearch{
   float: left;
   margin-right: 24px;
}
#viewfromsearchresult .view-header{
   font-size: 16pt;
   text-shadow: 0 0 1px rgba(100, 100, 100, 0.8);
}
#viewfromsearchresult .view{
   margin-top: 6px;
}
.toolbar{
   box-shadow: 0 -1px 1px rgba(100, 100, 100, 0.4);
   display: table;
   margin-left: 1px;
   padding-bottom: 3px;
   margin-top: 1px;
   width: calc(100% - 2px);
}
.toolbar>div.btn{
   border-radius: 2px;
   display: table;
   float: left;
   margin: 4px 1px 3px 4px;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
   font-size: 8pt;
   line-height: 16px;
   padding: 0 5px;
   color: #777;
   cursor: pointer;
   background-color: #F8F8F8;
}
.toolbar>div.btn:hover{
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.toolbar>div.btn:active{
   background-color: #EEE;
}
.toolbar>div.txt{
   border-radius: 2px;
   display: table;
   float: left;
   margin: 4px 1px 3px 4px;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
   font-size: 8pt;
   line-height: 16px;
   padding: 0 5px;
   color: #777;
   cursor: text;
   background-color: #F8F8F8;
}
.toolbar>div>div{
   float: left;
   height: 16px;
   margin: 0 -2px;
   position: absolute;
}
.toolbar>div.codejs>div{
   width: 39px;
}
.toolbar>div.codehttp>div,.toolbar>div.codejson>div{
   width: 51px;
}
.toolbar>div.codecmd>div{
   width: 50px;
}
.toolbar>div.usespace>div{
   width: 53px;
}
.toolbar>div.color>div{
   width: 27px;
}
.toolbar>div.size>div{
   width: 27px;
}
.toolbar>div.size>div{
   width: 22px;
}
.toolbar>div.h2>div,.toolbar>div.h4>div{
   width: 16px;
}
.toolbar>div.b>div,.toolbar>div.i>div,.toolbar>div.s>div{
width: 11px;
}
.toolbar>div.sep{
    color: #AAAAAA;
    display: table;
    float: left;
    margin: 2px 0 0 3px;
}
.toolbar>div.font{
   text-align: center;
   width: 7px;
}
.toolbar>div.right{
   float: right;
   margin: 4px 4px 3px 1px;
}