html {
   height: 100%;
   min-width: 800px;
   min-height: 400px;
}
body {
   height: 100%;
   margin: 0;
   font: 12px/18px Tahoma,Geneva,sans-serif;
   color: #333333;
}
a:focus {
   outline: none;
}
a {
   text-decoration: none;
   outline: none;
   color: #0088CC;
}
a:hover {
   text-decoration: underline;
   color: #0088CC;
}
h3{
   font-size: 18pt;
   line-height: 40px;
   text-rendering: optimizelegibility;
}
.infoPage{
   display: table;
   width: 100%;
   height: 100%;
}
.wm-header {
   float: left;
   height: 54px;
   width: 100%;
   margin: 0;
}
.wm-header>span{
   float: right;
   margin-right: 32px;
   text-shadow: 0 0 2px rgba(100, 100, 100, 0.85);
   margin-top: 4px;
}
.wm-header>i{
   font-size: 9pt;
   margin-left: 8px;
   display: block;
   line-height: 10px;
   margin-top: 36px;
   color: #555555;
   text-shadow: 0 0 1px rgba(100, 100, 100, 0.5);
}
.aside-menu {
   float: left;
   margin-bottom: 26px;
   width: 198px;
   display: block;
   padding: 2px;
   border-radius: 8px;
}
.aside-left {
   float: left;
   margin: 5px;
   width: 200px;
   display: block;
   border-radius: 8px;
}
.wm-mainmenu{
   width: auto;
   margin: 2px 1px;
}
.wm-mainmenu>.menuitem{
   display: block;
   padding: 3px 6px;
   width: auto;
   margin: 1px;
   border-radius: 6px;
}
.wm-mainmenu>.menuitem:hover{
   box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.wm-mainmenu>.menuitem:active{
   background-color: #EEE;
}
.wm-mainmenu>.menuitem.active{
   background-color: #EEE;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
   color: #333;
   text-decoration: none !important;
}
.shadowbox {
   box-shadow: 0 0 3px rgba(0,0,0,0.4);
   background-color: #F8F8F8;
}
.menubutton{
   border-radius: 4px 4px 4px 4px;
   box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
   float: right;
   font-size: 7pt;
   line-height: 14px;
   padding: 0 4px;
   color: #777;
   cursor: pointer;
   background-color: #F8F8F8;
}
.menubutton>div{
   height: 14px;
   position: absolute;
   width: 16px;
   z-index: 1;
}
.menubutton:hover{
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.menubutton:active{
   background-color: #EEE;
}
.menubutton.add{
   margin: 4px;
   left: 175px;
   position: absolute;
}
.menubutton.edit{
   display: none;
}
.menuitem:hover .menubutton.edit{
   display: block;
}
.menubutton.editPage{
   margin: 4px 8px 8px 0;
}
.wm-upload{
   float: left;
   margin-bottom: 4px;
   width: 200px;
   display: block;
   border-radius: 8px;
}
#wm-content{
   border-radius: 6px;
   height: calc(100% - 108px);
   width: calc(100% - 229px); 
   float: left;
   margin: 5px 3px 3px 0;
   display: table;
   padding: 8px 8px 4px;
   text-align: justify;
}
#wm-content *:last-child {
   margin-bottom: 0px;
}
.wm-footer{
   float: left;
   width: calc(100% - 64px);
   text-align: center;
   margin: 8px 0 8px 32px;
   color: #777;
}
.hide {
   display: none;
}