* {
    outline: medium none;
}

#project {
   float : left;
   width: 20%;
   height: 100%;
   overflow: auto;
}

#project ul:hover{
   cursor:pointer;
}

.editor {
   position: absolute;
   top: 40px;
   right: 0;
   bottom: 0;
   left: 22.5%;
   height: 96.5%;
}

.closetab {
    margin: 0 -7px -3px 3px;
}

.noselect {
   -moz-user-select: -moz-none;
   -o-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

#controlPanel {
   position: absolute;
   top: 7px;
   right: 0;
   bottom: 0;
   left: 22.5%;
   height: 60px;
}

#saveButton {
   margin: 19px;
}

#projectSelect {
   width: 100%;
}

#controlPanel ul li:FIRST-CHILD {
    margin-left: 4px;
}

#controlPanel ul > li > a {
    line-height: 7px;
    outline: medium none;
}
