html {
   height: 100%;
   min-width: 800px;
   min-height: 400px;
}
body {
   height: 100%;   
   margin: 0;
}
#wm-body {
    height: 100%;
}
#wm-builder-bg,
#wm-builder {
   height: 30px;
}
#wm-builder-bg{
   float: left;
   width: 100%;
}
#wm-builder {
   position: fixed;
   bottom: 0; left: 0; right: 0;
}
.wm-builder-btn,
.wm-builder-btn a {
  height: 22px;
  width: 22px;
}
.wm-builder-btn {
  margin: 3px;
}
.wm-builder-btn a {
  display: block;
}
.wm-builder-text {
   margin: 5px 3px;
}
#wm-header {
   display: table;
   height: 64px;
   width: 100%;
}
#wm-title {
   margin: 8px;
   margin-right: -webkit-calc(50% - 75px);
   margin-right:    -moz-calc(50% - 75px);
   margin-right:      -o-calc(50% - 75px);
   margin-right:         calc(50% - 75px);
}
#wm-pageName {
   margin: 24px 0 0 8px;
}
#wm-page {
   min-height: -webkit-calc(100% - 138px);
   min-height:    -moz-calc(100% - 138px);
   min-height:      -o-calc(100% - 138px);
   min-height:         calc(100% - 138px);
   margin: 5px 156px;
}
#wm-footer {
    float: left;
    width: 100%;
    height: 32px;
    text-align: center;
}
.wm-aside {
   width: 144px;
   margin: 5px;
}
#wm-aside-right {
   float: right;
}
#wm-menu {
   padding: 0;
   margin: 0 -8px;
}
#wm-menu a{
   display: block;
   width: -webkit-calc(100% - 16px);
   width:    -moz-calc(100% - 16px);
   width:      -o-calc(100% - 16px);
   width:         calc(100% - 16px);
   padding: 0 8px;
}
#wm-aside-left {
   float: left;
}
.wm-cnt {
   margin:8px;
}
.wm-left {
   float: left;
}
.wm-right {
   float: right;
}
.wm-glas.wm-aside .wm-cnt{
   margin-bottom: 0;
   margin-top: 4px;
}
.wm-bgglass {
   float: left;
   height: 6px;
   width: 100%;
}