.wm-code {
   background-color: #FFFFFF;
   border: 1px solid #DDDDDD;
   border-radius: 6px;
   padding: 8px;
}
.wm-code > .syntax {
   color: blue;
}
.wm-code > .var-key {
   font-weight: bold;
}
.wm-code > .func {
   color: purple;
}
.wm-code > .obj-elm {
   color: forestgreen;
}
.wm-code > .num {
   color: darkred;
}
.wm-code > .comment {
   color: gray !important;
}
