html {
   height: 100%;
   min-width: 800px;
   min-height: 400px;
}
body {
   height: 100%;
   margin: 0;
   font: 12px/18px Tahoma,Geneva,sans-serif;
}
a:focus {
   outline: none;
}
a {
   text-decoration: none;
   outline: none;
}
a:hover {
   text-decoration: underline;
}
#wm-menu a{
   padding: 4px;
}
.wm-sub-menu {
   list-style: none;
   margin: 0;
}
.wm-sub-menu li a {
   display: block;
   padding-left: 12px !important;
   border: 1px solid #DDDDDD;
   border-top: none;
}
.wm-sub-menu li a:hover {
   text-decoration: none;
}
.wm-sub-menu .wm-sub-menu li a {
   padding-left: 24px !important;
}
#wm-body {
    height: 100%;
}
#wm-builder-bg,
#wm-builder {
   height: 30px;
   min-height: 30px;
   padding: 0;
}
#wm-builder-bg{
   float: left;
   width: 100%;
}
#wm-builder {
   position: fixed;
   bottom: 0; left: 0; right: 0;
   margin-bottom: 0;
}
.wm-builder-btn,
.wm-builder-btn a {
  height: 22px;
  width: 22px;
}
.wm-builder-btn {
  margin: 3px;
  border: 1px solid #AAAAAA;
  border-radius: 6px;
}
.wm-builder-btn a {
  display: block;
}
.wm-builder-text {
   margin: 5px 3px;
}
#wm-header {
   float: left;
   height: 54px;
   width: 100%;
   margin-bottom: 0;
}
#wm-title {
   margin: 5px;
   font-size: 24px;
}
.navbar .brand {
   float: right;
}
#wm-pageName {
   margin: 8px 0;
   font-size: 18px;
}
#wm-menu {
   list-style: none;
   margin-bottom: 0;
}
.nav-tabs .active > a, 
.nav-tabs .active > a:hover{
   background-color: #FDFDFD;
   color: #555555;
   cursor: default;
}
#wm-news .active,
#wm-news .active:hover{
   color: #555555;
   cursor: default;
   text-decoration: none;
}
#wm-page {
   min-height: -webkit-calc(100% - 128px);
   min-height:    -moz-calc(100% - 128px);
   min-height:      -o-calc(100% - 128px);
   min-height:         calc(100% - 128px);
   width: -webkit-calc(100% - 310px);
   width:    -moz-calc(100% - 310px);
   width:      -o-calc(100% - 310px);
   width:         calc(100% - 310px); 
   float: left;
   margin: 5px 0;
   background-color: #F8F8F8;
}
.wm-html-error{
   margin-top: 8px;
   text-align: center;
}
.wm-html-padding {
   padding: 4px;
}
#wm-footer {
    float: left;
    width: 100%;
    height: 32px;
    text-align: center;
    color: #777777;
}
#wm-footer div {
   margin: 6px 0;
}
.wm-aside {
   width: 143px;
   margin: 5px;
   min-height: 100px;
   background-color: #F8F8F8;
}
#wm-page,
#wm-aside-right {
   border: 1px solid #DDDDDD;
   border-radius: 4px;
}
.wm-asid-header {
   text-align: center;
   padding: 4px;
}
#wm-news {
   padding: 4px;
}
#wm-news a  {
   display: block;
   padding: 1px 0;
}
.wm-l {
   float: left;
}
.wm-r {
   float: right;
}
.github-img {
   background: url("/img/github.png") no-repeat center center transparent;
}
.zip-img {
   background: url("/img/zip.png") no-repeat center center transparent;
}
.tar-img {
   background: url("/img/tar.png") no-repeat center center transparent;
}
